{
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "commonjs": true,
    "jquery": true,
    "amd": true
  },
  "parserOptions": {
    "ecmaVersion": 9,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true,
      "experimentalObjectRestSpread": true
    }
  },
  "extends": "react-app",
  "rules": {
    "no-console": 0,
    "lines-between-class-members": [1, "always", { "exceptAfterSingleLine": true }],
    "padding-line-between-statements": [
      1,
      { "blankLine": "always", "prev": ["multiline-block-like", "const", "let", "var", "cjs-import", "import", "export", "cjs-export"], "next": "*" },
      { "blankLine": "always", "prev": "*", "next": ["multiline-block-like", "const", "let", "var", "cjs-import", "import", "export", "cjs-export"] },
      { "blankLine": "any", "prev": ["cjs-import", "import"], "next": ["cjs-import", "import"] },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] }
    ]
  }
}
