{
  "settings": {
    "react": {
      "version": "17.0.1"
    }
  },
  "extends": ["react-app", "react-app/jest"],
  "overrides": [
    {
      "files": ["**/__tests__/**/*", "**/*.{spec,test}.*"],
      "rules": {
        "jest/consistent-test-it": [1, { "fn": "test" }],
        "jest/expect-expect": 1,
        "jest/no-deprecated-functions": 2
      }
    },
    {
      "files": ["**/*.ts?(x)"],
      "rules": {
        "@typescript-eslint/adjacent-overload-signatures": 2,
        "@typescript-eslint/array-type": [
          1,
          {
            "default": "array-simple"
          }
        ],
        "@typescript-eslint/ban-tslint-comment": 1,
        "@typescript-eslint/ban-types": [
          2,
          {
            "extendDefaults": true,
            "types": {
              "{}": false,
              "object": false
            }
          }
        ],
        "@typescript-eslint/class-literal-property-style": 1,
        "@typescript-eslint/consistent-type-assertions": 2,
        "@typescript-eslint/consistent-type-definitions": [2, "interface"],
        "@typescript-eslint/member-delimiter-style": [1],
        "@typescript-eslint/naming-convention": [
          "error",
          {
            "selector": "typeLike",
            "format": ["PascalCase"]
          }
        ],
        "@typescript-eslint/no-confusing-non-null-assertion": 2,
        "@typescript-eslint/no-empty-interface": 2,
        "@typescript-eslint/no-extra-non-null-assertion": 2,
        "@typescript-eslint/no-extraneous-class": 2,
        "@typescript-eslint/no-invalid-void-type": 1,
        "@typescript-eslint/no-misused-new": 2,
        "@typescript-eslint/no-namespace": 2,
        "@typescript-eslint/no-non-null-asserted-optional-chain": 1,
        "@typescript-eslint/no-parameter-properties": [
          2,
          {
            "allows": [
              "readonly",
              "private",
              "protected",
              "public",
              "private readonly",
              "protected readonly",
              "public readonly"
            ]
          }
        ],
        "@typescript-eslint/no-redeclare": [
          2,
          {
            "ignoreDeclarationMerge": true
          }
        ],
        "@typescript-eslint/no-require-imports": 2,
        "@typescript-eslint/no-var-requires": 2,
        "@typescript-eslint/no-this-alias": [
          "error",
          {
            "allowDestructuring": true,
            "allowedNames": ["self"]
          }
        ],
        "@typescript-eslint/no-unnecessary-type-constraint": 1,
        "@typescript-eslint/prefer-as-const": 1,
        "@typescript-eslint/prefer-literal-enum-member": 2,
        "@typescript-eslint/triple-slash-reference": 2,
        "@typescript-eslint/type-annotation-spacing": 1,
        "@typescript-eslint/unified-signatures": 1,

        "no-unused-vars": 0,
        "@typescript-eslint/no-unused-vars": [
          1,
          {
            "vars": "all",
            "args": "after-used",
            "ignoreRestSiblings": true,
            "varsIgnorePattern": "^_",
            "argsIgnorePattern": "^_|^err|^ev"
          }
        ],

        "default-param-last": 0,
        "@typescript-eslint/default-param-last": 2,

        "no-dupe-class-members": 0,
        "@typescript-eslint/no-dupe-class-members": 2,

        "@typescript-eslint/explicit-function-return-type": 0,
        "@typescript-eslint/explicit-member-accessibility": 0,
        "@typescript-eslint/no-explicit-any": 0,
        "@typescript-eslint/no-inferrable-types": 0,
        "@typescript-eslint/no-non-null-assertion": 0
      }
    }
  ],
  "env": {
    "es6": true,
    "browser": true,
    "node": true,
    "commonjs": true,
    "jquery": true,
    "amd": true
  },
  "parserOptions": {
    "ecmaFeatures": {
      "legacyDecorators": true
    }
  },
  "rules": {
    "react/react-in-jsx-scope": 1,
    "react/jsx-no-target-blank": 0,
    "react/no-unsafe": [2, { "checkAliases": true }],
    "react/no-deprecated": 2,
    "react/no-string-refs": [1, { "noTemplateLiterals": true }],
    "react/no-this-in-sfc": 2,
    "jsx-a11y/anchor-is-valid": [
      1,
      {
        "aspects": ["invalidHref", "preferButton"]
      }
    ],
    "import/order": [
      1,
      {
        "groups": ["builtin", "external", "internal", ["parent", "sibling", "index"], "object", "unknown"]
      }
    ],
    "import/no-useless-path-segments": [
      1,
      {
        "noUselessIndex": true
      }
    ],
    "no-console": 0,
    "eqeqeq": [1, "smart"],
    "padded-blocks": [1, "never"],
    "linebreak-style": [1, "unix"],
    "spaced-comment": [1, "always"],
    "space-in-parens": [1, "never"],
    "space-before-function-paren": [
      1,
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "space-unary-ops": 1,
    "space-infix-ops": 1,
    "space-before-blocks": 1,
    "no-trailing-spaces": [1, { "ignoreComments": true }],
    "key-spacing": [1, { "mode": "strict" }],
    "switch-colon-spacing": 1,
    "func-call-spacing": [1, "never"],
    "keyword-spacing": 1,
    "no-multiple-empty-lines": [
      1,
      {
        "max": 1,
        "maxEOF": 0,
        "maxBOF": 0
      }
    ],
    "no-multi-spaces": [
      1,
      {
        "ignoreEOLComments": true,
        "exceptions": {
          "VariableDeclarator": true,
          "ImportDeclaration": true
        }
      }
    ],
    "lines-between-class-members": [1, "always", { "exceptAfterSingleLine": true }],
    "padding-line-between-statements": [
      1,
      {
        "blankLine": "always",
        "prev": [
          "multiline-block-like",
          "multiline-expression",
          "const",
          "let",
          "var",
          "cjs-import",
          "import",
          "export",
          "cjs-export",
          "class",
          "throw",
          "directive"
        ],
        "next": "*"
      },
      {
        "blankLine": "always",
        "prev": "*",
        "next": [
          "multiline-block-like",
          "multiline-expression",
          "const",
          "let",
          "var",
          "cjs-import",
          "import",
          "export",
          "cjs-export",
          "class",
          "throw",
          "return"
        ]
      },
      { "blankLine": "any", "prev": ["cjs-import", "import"], "next": ["cjs-import", "import"] },
      { "blankLine": "any", "prev": ["export", "cjs-export"], "next": ["export", "cjs-export"] },
      { "blankLine": "any", "prev": ["const", "let", "var"], "next": ["const", "let", "var"] }
    ]
  }
}
